{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block head %}
  <title>Scrabble</title>
{% endblock %}

{% block content %}
    <h1 style="text-align:center; padding-top: 15px;">TOP PLAYERS</h1>
    <div id="div_board" style="margin:auto; width: 50%; padding-top: 30px;">
    <style>
        table {table-layout:fixed;}
        table td {width:150px; height:50px; border: 1px solid; text-align: center}
    </style>
    <table id="table_score" style="float:left">
        <tr>
            <td>NAME</td>
            <td>POINTS</td>
        </tr>
        {% for e in top_points %}
            <tr>
                <td>{{ e.user__username }}</td>
                <td>{{ e.totalScore }}</td>
            </tr>
        {% endfor %}
    </table>

    <table id="table_wins" style="float:right">
        <tr>
            <td>NAME</td>
            <td>WINS</td>
        </tr>
        {% for e in top_wins %}
            <tr>
                <td>{{ e.user__username }}</td>
                <td>{{ e.wins }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}