{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block head %}
  <title>Scrabble</title>
{% endblock %}

{% block content %}
    <table id="table_score">
        <tr>
            <td>NAME</td>
            <TD>POINTS</TD>
        </tr>
        {% for e in top_points %}
            <tr>
                <td>{{ e.user__username }}</td>
                <td>{{ e.totalScore }}</td>
            </tr>
        {% endfor %}
    </table>

    <table id="table_wins">
        <tr>
            <td>NAME</td>
            <TD>WINS</TD>
        </tr>
        {% for e in top_wins %}
            <tr>
                <td>{{ e.user__username }}</td>
                <td>{{ e.wins }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}