{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block head %}
    <title>Scrabble</title>
{% endblock %}


{% block content %}
    <script src="{% static 'js/lobby.js' %}?version=1"></script>
    <div class="container py-5" style="text-align: center;">
    <h1>LOBBY</h1>
        <table style="float: right">
            <tr>
                <th>
                    <label for="room_name">Room name:</label>
                    <input type="text" id="room_name">
                </th>
                <th>
                    <button onclick="createRoom();">CREATE</button>
                </th>
            </tr>
            {% for room in rooms %}
                <tr>
                    <th>{{ room.name }}</th>
                    <th><button onclick="visitRoom({{ room.id }});">JOIN</button></th>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}