{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block head %}
  <title>Scrabble</title>
{% endblock %}

{% block content %}
    <h1 style="text-align:center; padding-top: 15px;">STATISTICS</h1>
    <div id="div_board" style="margin:auto; width: 50%; padding-top: 30px;">
    <style>
        table {table-layout:fixed;}
        table td {width:150px; height:50px; border: 1px solid; text-align: center}
    </style>
    <table id="table_score">
        <tr>
            <td>NAME</td> <td>{{ username }}</td>
        </tr>
        <tr>
            <td>WINS</td> <td>{{ wins }}</td>
        </tr>
        <tr>
            <td>LOSES</td> <td>{{ loses }}</td>
        </tr>
        <tr>
            <td>SCORE</td> <td>{{ points }}</td>
        </tr>
    </table>
    </div>
{% endblock %}